@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary:#0F0F0F;
    --secondary: #9400FF;
    --bg:#050C9C
} 
/* css styles */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #ffffff;
}

/* header */
header {
    background-image: url(../img/bg.jpg);
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
}
/* header nav */
header .header-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2%;
    align-items: center;
}
/* header list */
header .header-nav-list {
    display: flex;
    gap: 3rem;
    font-size: 1.2rem;
    font-family: 'Poppins';
    flex: 2;
    justify-content: center;
}
header .header-nav-list a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
}
header .header-nav-list a::after {
    content: '';
    padding-bottom: .3rem;
    border-bottom: 2px solid var(--secondary);
    display: block;
    transform: scale(0);
    transition: .3s linear;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}
header .header-nav-list a:hover::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
/* header tittle */
header .header-nav-tittle {
    font-size: 1.6rem;
    color: var(--primary);
    font-family: 'Montagu Slab';
    flex: 1;
}
header .header-nav-tittle h1 {
    font-style: italic;
    font-weight: bold;
}
header .header-nav-tittle span {
    color: var(--secondary);
}

/* header feather */
header .header-nav-feather {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: -.6rem;
    flex: 1;
    justify-content: end;
    min-width: 10px;
} 
header .header-nav-feather a {
    min-width: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: .8rem;
    border-radius: .4rem;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 1rem 2rem;
    background-color: var(--secondary);
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
header .header-nav-feather a:active {
    opacity: .5;
}
#menu {
    display: none;
}

/* header content */
header .header-content {
   display: flex;
   width: 70%;
   height: 80%;
   justify-content: flex-end;
   align-items: center;
   margin-left: 12rem;
}
header .header-content h1 {
    font-size: 2rem;
    width: 50%;
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 200;
    text-shadow: .1rem .1rem black;
}

/* header float */
header .header-float {
    width: 60%;
    height: 20%;
    display: flex;
    align-items: center;
    margin: -1.5rem  auto;
    background-color: #ffffff;
    border-radius: .4rem;
    box-sizing: border-box;
    box-shadow: 0 0 .4rem .1rem #b8b3b3 ;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
/* header card */
header .header-float .header-float-content {
    display: flex;
    align-items: center;
    gap: 5rem;
    flex: 2 3rem;
    margin-left: 1rem;
}
header .header-float .header-float-content .header-float-content-card h1 {
    font-family: 'Poppins';
    color: var(--primary);
    font-size: 1rem;
    font-weight: 400;   
}
header .header-float .header-float-content .header-float-content-card h2 {
    font-size: .8rem;
    color: var(--primary);
    font-weight: 100;
    margin-top: 5px;
}
/* header float button */
header .header-float-btn {
    flex: 1 .5rem;
    margin-right: 1rem;
    text-align: center;
}
header .header-float-btn a {
    padding: .5rem 1rem;
    background-color: var(--secondary);
    text-decoration: none;
    color: #ffffff;
    font-size: .8rem;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
header .header-float-btn a:active {
    background-color: #7c1ebe;
}

/* card */
.card {
    margin: 6rem 6%;
}
.card .card-content {
    color: #222831;
    margin-left: 2rem;
}
.card .card-content h1 {
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: .5rem;
}
.card .card-content h2 {
    font-size: 1rem;
    font-weight: 350;
    font-family: 'Open Sans';
    margin-bottom: 1rem;
}

/* card image */

.card .card-image{
   display: flex;
   justify-content: center;
   gap: 2.7rem;
   align-items: center;
}

.card .card-image .card-image-card img {
    width: 20rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.card .card-image .card-image-card h2 {
    margin-top: .6rem;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Open Sans';
    margin-bottom: .3rem;
}
#star {
    color: #FF8F00;
}

/* roadmap */
section {
    margin: 6rem 8%;
}
/* roadmap header */
section .header {
    text-align: center;
    color: #222831;
}
section .header h1 {
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: .4rem;
}
section .header p {
    font-size: 1rem;
    font-weight: 350;
    font-family: 'Open Sans';
    margin-bottom: 1rem;
}
/* roadmap img */
section .content {
    display: flex;
}
section .content img {
    width: 50%;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}
/* roadmap article */
section .content .content-article {
    margin: 2%;
}
#article-mg {
    margin-top: 2.8rem;
}
section .content .content-article .content-article-1{
    display: flex;
    gap: 1rem;
}
/* roadmap article content */
section .content .content-article .content-article-1 .content-article-num h1{
    padding: .5rem;
    border-radius: 50%;
    font-size: 1.4rem;
    border: 3px dotted rgb(34, 40, 49, .5);
    font-weight: 400;
    font-family: 'Open Sans';
    color: #222831;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
section .content .content-article .content-article-1 .content-article-text h1{
    color: #222831;
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: .2rem;
}
section .content .content-article .content-article-text p {
    color: #222831;
    font-size: 1rem;
    font-family: 'Open Sans';
    width: 95%;
    text-align: left;
    font-weight: 100;
}
#enjoy {
    margin-top: .8rem;
    color: #7c1ebe;
    font-weight: bolder;
}

/* content-2 */
main {
    margin: 6rem 8%;
}
/* article header */
main .header {
    text-align: center;
    color: #222831;
}
main .header h1 {
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: .4rem;
}
main .header p {
    font-size: 1rem;
    font-weight: 350;
    font-family: 'Open Sans';
    margin-bottom: 1rem;
}
/* article content */
main .content {
    display: flex;
}
main .content img {
    width: 50%;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}
/* roadmap article */
main .content .content-article {
    margin: 2%;
}
main .content .content-article .content-article-1 {
    display: flex;
    gap: 1rem;
    box-sizing: border-box;
}
#feather{
    background-color: #7c1ebe;
    padding: 1rem;
    color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* text */
main .content .content-article .content-article-1 .content-article-text h1{
    color: #222831;
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 500; 
}
main .content .content-article .content-article-text p {
    color: #222831;
    font-size: 1rem;
    font-family: 'Open Sans';
    width: 95%;
    text-align: left;
    font-weight: 100;
    margin-top: .2rem;
}


/* footer */
footer {
    background-color: #222831;
    padding: 3rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* content */
footer .content {
    font-family: 'Poppins';
    color: #ffffff;
    width: 50%;
}
footer .content h1 {
    font-size: 1.3rem;
    font-weight: 300;
} 
footer .content span{
    color: #7c1ebe;
}
footer .content p {
    width: 50%;
    margin-top: .2rem;
    margin-bottom: 1rem;
    font-weight: 100;
}
footer .content h2 {
    font-weight: 200;
}
/* footer-2 */
footer .link {
    font-family: 'Poppins';
    color: #ffffff;
    flex: 1;
    margin-top: -.2rem;
    box-sizing: border-box;
}
footer .link h1 {
    font-size: 1.3rem;
    font-weight: 300;
    padding-bottom: .5rem;
}
footer .link a {
    display: block;
    padding-bottom: .5rem;
    text-decoration: none;
    color: #585757;
}
footer .link a::after {
    content: '';
    display: block;
    transform-origin: 0 0;
    padding-bottom: .3rem;
    border-bottom: 3px solid violet;
    transform: scale(0);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
footer .link a:hover::after {
    transform: scale(.3);
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    -ms-transform: scale(.3);
    -o-transform: scale(.3);
}

/* footer-3 */
footer .help {
    font-family: 'Poppins';
    color: #ffffff;
    flex: 1;
    margin-top: -.2rem;
    box-sizing: border-box;
}
footer .help h1 {
    font-size: 1.3rem;
    font-weight: 300;
    padding-bottom: .5rem;
}
footer .help a {
    display: block;
    padding-bottom: .5rem;
    text-decoration: none;
    color: #585757;
}
footer .help a::after {
    content: '';
    display: block;
    transform-origin: 0 0;
    padding-bottom: .3rem;
    border-bottom: 1px solid violet;
    transform: scale(0);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
footer .help a:hover::after {
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}

/* footer-4 */
footer .contact-us {
    font-family: 'Poppins';
    color: #ffffff;
    flex: 1;
    margin-top: -.2rem;
    box-sizing: border-box;
}
footer .contact-us h1 {
    font-size: 1.3rem;
    font-weight: 300;
    padding-bottom: .5rem;
}
footer .contact-us a {
    display: block;
    padding-bottom: .5rem;
    text-decoration: none;
    color: #585757;
}
footer .contact-us a::after {
    content: '';
    display: block;
    transform-origin: 0 0;
    padding-bottom: .3rem;
    border-bottom: 2px solid violet;
    transform: scale(0);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
footer .contact-us a:hover::after {
    transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
}

/* responsive */
/* handphone */
@media screen and (max-width:630px) {
    html {
        font-size: 55%;
        scroll-behavior: smooth;
    }
    /* header navbar */

    /* header-navbar-list */
    header .header-nav .header-nav-list {
        gap: 1rem;
    }
    /* header navbar feather */
    header .header-nav-feather a {
        padding: .5rem .8rem;
        min-width: 40px;
    }

    /* header navbar float */
    header .header-float {
        width: 85%;
    }
    /* header float content */
    header .header-float .header-float-content {
        flex: 2;
    }
    header .header-float .header-float-content .header-float-content-card h1{
        font-size: 1.5rem;
    }
    header .header-float .header-float-content .header-float-content-card h2{
        font-size: 1rem;   
        font-weight: 100;
    }
    /* header float btn */
    header .header-float-btn a {
        font-size: 100%;
    }
    .card .card-image  {
        flex-wrap: wrap;
    }
    .card .card-image .card-image-card img {
        width: 40rem;
    }

    /* section article */
    section .content{
        flex-wrap: wrap;
    }
    section .content img {
        width: 100%;
    }

    /* article */
    main .content {
        flex-wrap: wrap;
        gap: 2rem;
    }
    main .content img {
        min-width: 100%;
        order: 1;
    }
    main .content .content-article {
        order: 11;
    }

    /* footer */
    footer .content p {
        min-width: 100%;
    }

    footer .link {
        min-width: 70px;
    }
    footer .link a::after {
        border-bottom: 1px solid violet;
        
    }
    footer .link a:hover::after  {
        transform: scale(.5);
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
}
    footer .help {
        min-width: 80px;
    }
    footer .contact-us {
        min-width: 70px;
    }
    footer .contact-us a::after {
        border-bottom: 1px solid violet;
        
    }
    footer .contact-us a:hover::after  {
        transform: scale(.7);
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        -ms-transform: scale(.7);
        -o-transform: scale(.7);
}

/* tablet responsive*/ 
@media screen and (min-width:631px) {
    html {
        font-size: 80%;
    }
    header .header-nav-list {
        gap: 1rem;
    }
    /* header navbar feather */
    header .header-nav .header-nav-feather a{
        padding: .6rem 1rem;
        min-width: 70px;
    }  

      /* header navbar float */
    header .header-float {
        width: 80%;
    }
    header .header-float .header-float-content {
        flex: 3 2;

    }
    header .header-float .header-float-content .header-float-content-card h1{
        font-size: 1.5rem;
    }
    header .header-float .header-float-content .header-float-content-card h2{
        font-size: 1rem;   
        font-weight: 100;
    }
    /* header float btn */
    header .header-float-btn a {
        font-size: 100%;
    }

    /* card */
    .card .card-image  {
        flex-wrap: wrap;
    }
}

/* desktop */
@media screen and (min-width:992px) {
    html {
        font-size: 100%;
    }
}